
@{
    ViewBag.Title = "Logon";
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Logon</title>
    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <style type="text/css">
        body {
            padding-top: 100px;
            padding-bottom: 100px;
        }

        .panel-body {
            background: #fefefe;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">管理後台登入</h3>
                    </div>
                    <div class="panel-body">
                        <form action="/Backend/Home/Logon" method="post">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control text-box single-line" id="Account" name="Account" placeholder="帳號" type="text" value="" />
                                </div>
                                <div class="form-group">
                                    <input class="form-control text-box single-line password" id="Password" name="Password" placeholder="密碼" type="password" value="" />
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input id="Remember" name="Remember" type="checkbox" value="true" /><input name="Remember" type="hidden" value="false" />
                                        記住我
                                    </label>
                                </div>
                                <input class="btn btn-success" type="submit" value="登入" />
                                <input class="btn btn-default" type="button" value="取消" />
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/Scripts/jquery-1.10.2.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
</body>
</html>
